.top-bar{
    display: flex;
    position: fixed;
    background-color: grey;
    width: 1300px;
    height: 30px;
    margin-left: 20px;
    top:0px;
    align-items: center;
    justify-content: center;

}
#Hey{
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    font-size: 45px;
    top: 10px;
}
#thisme{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#meblob{
    text-align: center;
    padding-top: 10px;
    font-size: 20px;
}
#block{
    position: absolute;
    background-color: grey;
    width: 1350px;
    height: 100px;
    bottom:-500px;
    display: flex;

}
.middlebox{
    width: 300px;
}
.icon{
    height: 50px;
    width: 50px;
    display: inline-block;
    margin-right: 20px;
    margin-top: 20px;
    
}
.icon:hover{
    cursor: pointer;
    opacity: 75%;
}
.navs{
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    margin-right: 80px;
    display: inline-flex;
    flex-direction: row;
    font-size: larger;
    margin-top: 20px;
}
#write{
    left:0px
}
.leftbox{
    width: 500px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 0px;

}
